{{#each this}}

  <li class='wow animate__fadeInUp card__item list' data-id='{{id}}' id='{{id}}' title='{{title}}'>
    <article class='card'>
      <a href='' class='card__link link'>
        <div class='card-img-container'>
          <img src='{{posterURL}}' alt='{{title}}' data-id='{{id}}' class='card__image' />
        </div>

        <div class='card__description'>
          <div class='card-name__container'>
            <h2 class='card__name'>{{title}}</h2>
          </div>
          <p class='card__info'>{{genres}} | {{release_date}}</p>
        </div>
      </a>
    </article>
  </li>

{{/each}}